flow.json
[
    {
        "id": "71d70956cd5f1433",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f81072a5963a1ca4",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "new_schema",
        "tz": "±hh:mm",
        "charset": "UTF8"
    },
    {
        "id": "a552f665d5a8d34a",
        "type": "ui_group",
        "name": "Add Data",
        "tab": "ef84596ce9c52420",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8d17b8f2c4af764",
        "type": "ui_group",
        "name": "View Information",
        "tab": "ef84596ce9c52420",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0851d8b33da7b635",
        "type": "ui_group",
        "name": "Update Information",
        "tab": "ef84596ce9c52420",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef84596ce9c52420",
        "type": "ui_tab",
        "name": "My Databse MySQL",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "689e788fba8ffd8b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a35a74f6390dd2ee",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "new_schema",
        "tz": "±hh:mm",
        "charset": "UTF8"
    },
    {
        "id": "5bfc4dcdb095996e",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.158.62:4840/AAS",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "3a96d634b27aeeee",
        "type": "ui_group",
        "name": "Sorting",
        "tab": "ef84596ce9c52420",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "46b1245df4a3c931",
        "type": "mysql",
        "z": "71d70956cd5f1433",
        "mydb": "f81072a5963a1ca4",
        "name": "",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "f2f74f5dc4a2671a",
                "ee3fc32b27660f7d"
            ]
        ]
    },
    {
        "id": "cd63f8c23f7e6135",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Insert",
        "func": "var id = msg.payload.id;\nvar name = msg.payload.Name;\nvar age = msg.payload.Age;\nvar country = msg.payload.Country;\nvar height = msg.payload.Height;\n\nmsg.topic = 'INSERT INTO `new_schema`.`new_table_info`(`id`,`Name`,`age`,`Country`,`Height`) VALUES('+id+',\"'+name+'\",'+age+',\"'+country+'\",'+height+');';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 100,
        "wires": [
            [
                "46b1245df4a3c931"
            ]
        ]
    },
    {
        "id": "f2f74f5dc4a2671a",
        "type": "debug",
        "z": "71d70956cd5f1433",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "d507d401768841a8",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Select",
        "func": "msg.topic = 'SELECT * FROM new_schema.new_table_info;';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 240,
        "wires": [
            [
                "ab549ae2b15ebdb0"
            ]
        ]
    },
    {
        "id": "528a6d37542db72f",
        "type": "ui_form",
        "z": "71d70956cd5f1433",
        "name": "Table for MySQL",
        "label": "",
        "group": "a552f665d5a8d34a",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "id",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Name",
                "value": "Name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Age",
                "value": "Age",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Country",
                "value": "Country",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Height",
                "value": "Height",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "Name": "",
            "Age": "",
            "Country": "",
            "Height": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "cd63f8c23f7e6135"
            ]
        ]
    },
    {
        "id": "e495b83b0926d78e",
        "type": "ui_template",
        "z": "71d70956cd5f1433",
        "group": "e8d17b8f2c4af764",
        "name": "",
        "order": 1,
        "width": "9",
        "height": "7",
        "format": "<html>\n\n<head>\n    <style>\n        #history {\n            font-family: \"Arial\";\n            border-collapse: collapse;\n            width: 100%;\n        }\n\n        #history td,\n        #history th {\n            border: 1px solid #ffffff;\n            padding: 8px;\n        }\n\n        #history tr:nth-child(even) {\n            background-color: #ffffff;\n        }\n\n        #history tr:hover {\n            background-color: #73E0FD;\n        }\n\n        #history th {\n            padding-top: 12px;\n            padding-bottom: 12px;\n            text-align: center;\n            background-color: #A8E7FC;\n            color: black;\n        }\n    </style>\n</head>\n\n<body>\n    <table id=\"history\" border=\"1\">\n        <tr align=\"center\">\n            <th>ID</th>\n            <th>Name</th>\n            <th>Age</th>\n            <th>Country</th>\n            <th>Height</th>\n        </tr>\n        <tbody>\n            <tr align=\"center\" ng-repeat=\"row in msg.payload\">\n                <td ng-repeat=\"item in row\">{{item}}</td>\n            </tr>\n        </tbody>\n    </table>\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 240,
        "wires": [
            [
                "df37d7f6d956bac8"
            ]
        ]
    },
    {
        "id": "ab549ae2b15ebdb0",
        "type": "mysql",
        "z": "71d70956cd5f1433",
        "mydb": "f81072a5963a1ca4",
        "name": "",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "e495b83b0926d78e"
            ]
        ]
    },
    {
        "id": "ee3fc32b27660f7d",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Trigger select 1",
        "func": "if (msg.payload.affectedRows == 1)\n{\n    msg.payload = true;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 100,
        "wires": [
            [
                "28f2a0dfa66421da"
            ]
        ]
    },
    {
        "id": "440d3a83d2d99e6a",
        "type": "ui_numeric",
        "z": "71d70956cd5f1433",
        "name": "",
        "label": "ID",
        "tooltip": "",
        "group": "0851d8b33da7b635",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": "1",
        "className": "",
        "x": 70,
        "y": 440,
        "wires": [
            [
                "2ecdf9822e1d6c47"
            ]
        ]
    },
    {
        "id": "1f11489d3ca40357",
        "type": "ui_button",
        "z": "71d70956cd5f1433",
        "name": "",
        "group": "0851d8b33da7b635",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 580,
        "wires": [
            [
                "92f6452493d7b0cf"
            ]
        ]
    },
    {
        "id": "92f6452493d7b0cf",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Function to set new values",
        "func": "msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\n\nvar id = global.get('id')\nvar name = global.get('name')\nvar age = global.get('age')\nvar country = global.get('country')\nvar height = global.get('height')\n\nmsg1.topic = \"UPDATE `new_schema`.`new_table_info` SET `Name` = '\" + name+ \"' WHERE `id` = \"+ id +\" ; \";\nmsg2.topic = \"UPDATE `new_schema`.`new_table_info` SET `Age` = \" + age + \" WHERE `id` = \"+id+\" ;\";\nmsg3.topic = \"UPDATE `new_schema`.`new_table_info` SET `Country` = '\" + country + \"' WHERE `id` = \" + id + \" ; \";\nmsg4.topic = \"UPDATE `new_schema`.`new_table_info` SET `Height` = \" + height + \" WHERE `id` = \" + id + \" ;\";\n\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "noerr": 4,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 580,
        "wires": [
            [
                "9e45b50d7f79b14a"
            ],
            [
                "9e45b50d7f79b14a"
            ],
            [
                "9e45b50d7f79b14a"
            ],
            [
                "9e45b50d7f79b14a"
            ]
        ]
    },
    {
        "id": "28f2a0dfa66421da",
        "type": "link out",
        "z": "71d70956cd5f1433",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "d649d4eda648f0e0"
        ],
        "x": 795,
        "y": 100,
        "wires": []
    },
    {
        "id": "b392e9f2877db831",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Trigger select 2",
        "func": "if (msg.payload.affectedRows == 1)\n{\n    msg.payload = true;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 580,
        "wires": [
            [
                "f752043ac4a293fb"
            ]
        ]
    },
    {
        "id": "f752043ac4a293fb",
        "type": "link out",
        "z": "71d70956cd5f1433",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "d649d4eda648f0e0"
        ],
        "x": 875,
        "y": 580,
        "wires": []
    },
    {
        "id": "d649d4eda648f0e0",
        "type": "link in",
        "z": "71d70956cd5f1433",
        "name": "link in 1",
        "links": [
            "28f2a0dfa66421da",
            "f752043ac4a293fb",
            "605ab7fd5f91ca18"
        ],
        "x": 35,
        "y": 240,
        "wires": [
            [
                "d507d401768841a8"
            ]
        ]
    },
    {
        "id": "e215b24211f91990",
        "type": "comment",
        "z": "71d70956cd5f1433",
        "name": "Insert Query",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "3ad0e1fbdfe3ae3b",
        "type": "comment",
        "z": "71d70956cd5f1433",
        "name": "Select Query",
        "info": "",
        "x": 90,
        "y": 180,
        "wires": []
    },
    {
        "id": "fbd1318f7cc9ab2c",
        "type": "comment",
        "z": "71d70956cd5f1433",
        "name": "Update Query",
        "info": "",
        "x": 90,
        "y": 380,
        "wires": []
    },
    {
        "id": "2ecdf9822e1d6c47",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Select Row accordong to ID",
        "func": "global.set('id', msg.payload);\nvar id = global.get('id');\nmsg.topic = \"Select * from `new_schema`.`new_table_info` Where id = \"+id+\";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 440,
        "wires": [
            [
                "ba397e122e484b7b"
            ]
        ]
    },
    {
        "id": "ba397e122e484b7b",
        "type": "mysql",
        "z": "71d70956cd5f1433",
        "mydb": "f81072a5963a1ca4",
        "name": "",
        "x": 490,
        "y": 440,
        "wires": [
            [
                "52405c9147da7d3d",
                "2454f83568947cc6"
            ]
        ]
    },
    {
        "id": "52405c9147da7d3d",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Extract the info accorfing to the Id",
        "func": "msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {};\n\n\nmsg1.payload = msg.payload[0].id;\nmsg2.payload = msg.payload[0].Name;\nmsg3.payload = msg.payload[0].age;\nmsg4.payload = msg.payload[0].Country;\nmsg5.payload = msg.payload[0].Height;\n\nreturn [msg1, msg2, msg3, msg4, msg5];",
        "outputs": 5,
        "noerr": 5,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 440,
        "wires": [
            [
                "0e94d394e65bf47b"
            ],
            [
                "0da85b5ec527a5f1"
            ],
            [
                "836eb3f649107b4e"
            ],
            [
                "d35cab307cc082eb"
            ],
            [
                "586a4765934d1fb5"
            ]
        ]
    },
    {
        "id": "a10d16e307097ee9",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Set the Name Globally",
        "func": "global.set('name', msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "0da85b5ec527a5f1",
        "type": "ui_text_input",
        "z": "71d70956cd5f1433",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "group": "0851d8b33da7b635",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "a10d16e307097ee9"
            ]
        ]
    },
    {
        "id": "bec177851b2a065b",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Set the id Globally",
        "func": "global.set('id', msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "0e94d394e65bf47b",
        "type": "ui_text_input",
        "z": "71d70956cd5f1433",
        "name": "",
        "label": "ID",
        "tooltip": "",
        "group": "0851d8b33da7b635",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1030,
        "y": 360,
        "wires": [
            [
                "bec177851b2a065b"
            ]
        ]
    },
    {
        "id": "836eb3f649107b4e",
        "type": "ui_text_input",
        "z": "71d70956cd5f1433",
        "name": "",
        "label": "Age",
        "tooltip": "",
        "group": "0851d8b33da7b635",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "693b41d2b48a33b3"
            ]
        ]
    },
    {
        "id": "693b41d2b48a33b3",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Set the Age Globally",
        "func": "global.set('age', msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "df37d7f6d956bac8",
        "type": "debug",
        "z": "71d70956cd5f1433",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "d35cab307cc082eb",
        "type": "ui_text_input",
        "z": "71d70956cd5f1433",
        "name": "",
        "label": "Country",
        "tooltip": "",
        "group": "0851d8b33da7b635",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1040,
        "y": 480,
        "wires": [
            [
                "2fc663d66e48b5c7"
            ]
        ]
    },
    {
        "id": "586a4765934d1fb5",
        "type": "ui_text_input",
        "z": "71d70956cd5f1433",
        "name": "",
        "label": "Height",
        "tooltip": "",
        "group": "0851d8b33da7b635",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1030,
        "y": 520,
        "wires": [
            [
                "7a6d41c956f23624"
            ]
        ]
    },
    {
        "id": "2454f83568947cc6",
        "type": "debug",
        "z": "71d70956cd5f1433",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "2fc663d66e48b5c7",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Set the Country Globally",
        "func": "global.set('country', msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7a6d41c956f23624",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Set the Height Globally",
        "func": "global.set('height', msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8ea4051a270b52a0",
        "type": "ui_button",
        "z": "71d70956cd5f1433",
        "name": "",
        "group": "0851d8b33da7b635",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 660,
        "wires": [
            [
                "9211b0afe414f5f5"
            ]
        ]
    },
    {
        "id": "9211b0afe414f5f5",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Function to Delete the Row according id",
        "func": "var id = global.get('id')\nmsg.topic = \"DELETE FROM `new_schema`.`new_table_info` WHERE `id` = \" + id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 660,
        "wires": [
            [
                "9e45b50d7f79b14a"
            ]
        ]
    },
    {
        "id": "9e45b50d7f79b14a",
        "type": "mysql",
        "z": "71d70956cd5f1433",
        "mydb": "f81072a5963a1ca4",
        "name": "",
        "x": 550,
        "y": 580,
        "wires": [
            [
                "b392e9f2877db831",
                "6064b1b366d4f2c6"
            ]
        ]
    },
    {
        "id": "e17080d86ab40727",
        "type": "comment",
        "z": "71d70956cd5f1433",
        "name": "Sorting Query",
        "info": "",
        "x": 90,
        "y": 760,
        "wires": []
    },
    {
        "id": "35d3da2e52fce784",
        "type": "ui_button",
        "z": "71d70956cd5f1433",
        "name": "",
        "group": "3a96d634b27aeeee",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Age (Descending)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "36e60cd9d73a2f40"
            ]
        ]
    },
    {
        "id": "0c8961e175d15622",
        "type": "ui_button",
        "z": "71d70956cd5f1433",
        "name": "",
        "group": "3a96d634b27aeeee",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Age (Ascending)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "55d555eefcf329fd"
            ]
        ]
    },
    {
        "id": "55d555eefcf329fd",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Age (Ascending) Sorting",
        "func": "msg.topic = \"SELECT * FROM new_schema.new_table_info ORDER BY Age Asc;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 860,
        "wires": [
            [
                "0a95c549575d27c9"
            ]
        ]
    },
    {
        "id": "0a95c549575d27c9",
        "type": "mysql",
        "z": "71d70956cd5f1433",
        "mydb": "f81072a5963a1ca4",
        "name": "",
        "x": 850,
        "y": 920,
        "wires": [
            [
                "5e712a8f3df7f6ce"
            ]
        ]
    },
    {
        "id": "5e712a8f3df7f6ce",
        "type": "link out",
        "z": "71d70956cd5f1433",
        "name": "Sorting out",
        "mode": "link",
        "links": [
            "b50b328710ca35ac"
        ],
        "x": 1005,
        "y": 920,
        "wires": []
    },
    {
        "id": "b50b328710ca35ac",
        "type": "link in",
        "z": "71d70956cd5f1433",
        "name": "link in 2",
        "links": [
            "5e712a8f3df7f6ce"
        ],
        "x": 385,
        "y": 180,
        "wires": [
            [
                "e495b83b0926d78e"
            ]
        ]
    },
    {
        "id": "36e60cd9d73a2f40",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Age (Descending) Sorting",
        "func": "msg.topic = \"SELECT * FROM new_schema.new_table_info ORDER BY Age Desc;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 900,
        "wires": [
            [
                "0a95c549575d27c9"
            ]
        ]
    },
    {
        "id": "764fb806fd439246",
        "type": "ui_button",
        "z": "71d70956cd5f1433",
        "name": "",
        "group": "3a96d634b27aeeee",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ID",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 820,
        "wires": [
            [
                "030fdf39b19e9097"
            ]
        ]
    },
    {
        "id": "030fdf39b19e9097",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "ID Sorting               ",
        "func": "msg.topic = \"SELECT * FROM new_schema.new_table_info ORDER BY id;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 820,
        "wires": [
            [
                "0a95c549575d27c9"
            ]
        ]
    },
    {
        "id": "bd44e7b10de30c20",
        "type": "ui_button",
        "z": "71d70956cd5f1433",
        "name": "",
        "group": "3a96d634b27aeeee",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Height (Ascending)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 940,
        "wires": [
            [
                "75186ed58cc480a2"
            ]
        ]
    },
    {
        "id": "0225dd2619fb83eb",
        "type": "ui_button",
        "z": "71d70956cd5f1433",
        "name": "",
        "group": "3a96d634b27aeeee",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Height (Descending)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 980,
        "wires": [
            [
                "a2d418833eb0e92c"
            ]
        ]
    },
    {
        "id": "a2d418833eb0e92c",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Age (Descending) Sorting",
        "func": "msg.topic = \"SELECT * FROM new_schema.new_table_info ORDER BY Height Desc;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 980,
        "wires": [
            [
                "0a95c549575d27c9"
            ]
        ]
    },
    {
        "id": "75186ed58cc480a2",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Age (Ascending) Sorting",
        "func": "msg.topic = \"SELECT * FROM new_schema.new_table_info ORDER BY Height Asc;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 940,
        "wires": [
            [
                "0a95c549575d27c9"
            ]
        ]
    },
    {
        "id": "444d53dd97590fc3",
        "type": "ui_dropdown",
        "z": "71d70956cd5f1433",
        "name": "",
        "label": "Country",
        "tooltip": "",
        "place": "Select option",
        "group": "3a96d634b27aeeee",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Germany",
                "value": "Germany",
                "type": "str"
            },
            {
                "label": "France",
                "value": "France",
                "type": "str"
            },
            {
                "label": "Spain",
                "value": "Spain",
                "type": "str"
            },
            {
                "label": "India",
                "value": "India",
                "type": "str"
            },
            {
                "label": "None",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 80,
        "y": 1020,
        "wires": [
            [
                "1bc4f31b8e7fe2e8"
            ]
        ]
    },
    {
        "id": "1bc4f31b8e7fe2e8",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "ID Sorting               ",
        "func": "var country = msg.payload\n\nmsg.topic = \"SELECT * FROM new_schema.new_table_info WHERE Country = '\"+msg.payload+\"';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1020,
        "wires": [
            [
                "0a95c549575d27c9"
            ]
        ]
    },
    {
        "id": "982338278e577d60",
        "type": "ui_button",
        "z": "71d70956cd5f1433",
        "name": "",
        "group": "3a96d634b27aeeee",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Name",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 1060,
        "wires": [
            [
                "efed647607108fca"
            ]
        ]
    },
    {
        "id": "efed647607108fca",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Name Sorting               ",
        "func": "msg.topic = \"SELECT * FROM new_schema.new_table_info ORDER BY Name;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1060,
        "wires": [
            [
                "0a95c549575d27c9"
            ]
        ]
    },
    {
        "id": "6064b1b366d4f2c6",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "function 1",
        "func": "msg.payload = \"Update Successful\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 640,
        "wires": [
            [
                "3978bc31dc1c809f",
                "1d850d0df2ec205a"
            ]
        ]
    },
    {
        "id": "3978bc31dc1c809f",
        "type": "ui_text",
        "z": "71d70956cd5f1433",
        "group": "0851d8b33da7b635",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "feedback",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1240,
        "y": 640,
        "wires": []
    },
    {
        "id": "fad31277723073d9",
        "type": "catch",
        "z": "71d70956cd5f1433",
        "name": "",
        "scope": [
            "46b1245df4a3c931"
        ],
        "uncaught": false,
        "x": 690,
        "y": 700,
        "wires": [
            [
                "185ce08e7d6d3b00",
                "1d850d0df2ec205a"
            ]
        ]
    },
    {
        "id": "185ce08e7d6d3b00",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "function 2",
        "func": "msg.payload = msg.error.message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 700,
        "wires": [
            [
                "3978bc31dc1c809f"
            ]
        ]
    },
    {
        "id": "1d850d0df2ec205a",
        "type": "delay",
        "z": "71d70956cd5f1433",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 900,
        "y": 760,
        "wires": [
            [
                "383f6b83656590b4"
            ]
        ]
    },
    {
        "id": "383f6b83656590b4",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "function 3",
        "func": "msg.payload = \"______________________\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 760,
        "wires": [
            [
                "3978bc31dc1c809f"
            ]
        ]
    }
]