flow.json
[
    {
        "id": "71d70956cd5f1433",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f81072a5963a1ca4",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "new_schema",
        "tz": "±hh:mm",
        "charset": "UTF8"
    },
    {
        "id": "a552f665d5a8d34a",
        "type": "ui_group",
        "name": "Add Data",
        "tab": "ef84596ce9c52420",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8d17b8f2c4af764",
        "type": "ui_group",
        "name": "View Information",
        "tab": "ef84596ce9c52420",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0851d8b33da7b635",
        "type": "ui_group",
        "name": "Update Information",
        "tab": "ef84596ce9c52420",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef84596ce9c52420",
        "type": "ui_tab",
        "name": "My Databse MySQL",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "689e788fba8ffd8b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a35a74f6390dd2ee",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "new_schema",
        "tz": "±hh:mm",
        "charset": "UTF8"
    },
    {
        "id": "5bfc4dcdb095996e",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.158.62:4840/AAS",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "46b1245df4a3c931",
        "type": "mysql",
        "z": "71d70956cd5f1433",
        "mydb": "f81072a5963a1ca4",
        "name": "",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "f2f74f5dc4a2671a",
                "ee3fc32b27660f7d"
            ]
        ]
    },
    {
        "id": "cd63f8c23f7e6135",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Insert",
        "func": "var id = msg.payload.id;\nvar name = msg.payload.Name;\nvar age = msg.payload.Age;\nvar country = msg.payload.Country;\nvar height = msg.payload.Height;\n\nmsg.topic = 'INSERT INTO `new_schema`.`new_table_info`(`id`,`Name`,`age`,`Cuntry`,`Height`) VALUES('+id+',\"'+name+'\",'+age+',\"'+country+'\",'+height+');';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 80,
        "wires": [
            [
                "46b1245df4a3c931"
            ]
        ]
    },
    {
        "id": "f2f74f5dc4a2671a",
        "type": "debug",
        "z": "71d70956cd5f1433",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "d507d401768841a8",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Select",
        "func": "msg.topic = 'SELECT * FROM new_schema.new_table_info;';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 220,
        "wires": [
            [
                "ab549ae2b15ebdb0"
            ]
        ]
    },
    {
        "id": "528a6d37542db72f",
        "type": "ui_form",
        "z": "71d70956cd5f1433",
        "name": "Table for MySQL",
        "label": "",
        "group": "a552f665d5a8d34a",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "id",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Name",
                "value": "Name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Age",
                "value": "Age",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Country",
                "value": "Country",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Height",
                "value": "Height",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "Name": "",
            "Age": "",
            "Country": "",
            "Height": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "cd63f8c23f7e6135"
            ]
        ]
    },
    {
        "id": "e495b83b0926d78e",
        "type": "ui_template",
        "z": "71d70956cd5f1433",
        "group": "e8d17b8f2c4af764",
        "name": "",
        "order": 1,
        "width": "9",
        "height": "7",
        "format": "<html>\n\n<head>\n    <style>\n        #history {\n            font-family: \"Arial\";\n            border-collapse: collapse;\n            width: 100%;\n        }\n\n        #history td,\n        #history th {\n            border: 1px solid #ffffff;\n            padding: 8px;\n        }\n\n        #history tr:nth-child(even) {\n            background-color: #ffffff;\n        }\n\n        #history tr:hover {\n            background-color: #73E0FD;\n        }\n\n        #history th {\n            padding-top: 12px;\n            padding-bottom: 12px;\n            text-align: center;\n            background-color: #A8E7FC;\n            color: black;\n        }\n    </style>\n</head>\n\n<body>\n    <table id=\"history\" border=\"1\">\n        <tr align=\"center\">\n            <th>ID</th>\n            <th>Name</th>\n            <th>Age</th>\n            <th>Country</th>\n            <th>Height</th>\n        </tr>\n        <tbody>\n            <tr align=\"center\" ng-repeat=\"row in msg.payload\">\n                <td ng-repeat=\"item in row\">{{item}}</td>\n            </tr>\n        </tbody>\n    </table>\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 520,
        "y": 220,
        "wires": [
            [
                "df37d7f6d956bac8"
            ]
        ]
    },
    {
        "id": "ab549ae2b15ebdb0",
        "type": "mysql",
        "z": "71d70956cd5f1433",
        "mydb": "f81072a5963a1ca4",
        "name": "",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "e495b83b0926d78e"
            ]
        ]
    },
    {
        "id": "ee3fc32b27660f7d",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Trigger select 1",
        "func": "if (msg.payload.affectedRows == 1)\n{\n    msg.payload = true;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 80,
        "wires": [
            [
                "28f2a0dfa66421da"
            ]
        ]
    },
    {
        "id": "440d3a83d2d99e6a",
        "type": "ui_numeric",
        "z": "71d70956cd5f1433",
        "name": "",
        "label": "ID",
        "tooltip": "",
        "group": "0851d8b33da7b635",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": "1",
        "className": "",
        "x": 70,
        "y": 420,
        "wires": [
            [
                "2ecdf9822e1d6c47"
            ]
        ]
    },
    {
        "id": "1f11489d3ca40357",
        "type": "ui_button",
        "z": "71d70956cd5f1433",
        "name": "",
        "group": "0851d8b33da7b635",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 580,
        "wires": [
            [
                "92f6452493d7b0cf",
                "6995a3e2bf261b2a"
            ]
        ]
    },
    {
        "id": "92f6452493d7b0cf",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "function 1",
        "func": "var id = global.get('id')\nvar name = global.get('name')\nmsg.topic = \"UPDATE `new_schema`.`new_table_info` SET `Name` = '\"+name+\"' WHERE `id` = \"+id+\";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 560,
        "wires": [
            [
                "9e45b50d7f79b14a"
            ]
        ]
    },
    {
        "id": "9e45b50d7f79b14a",
        "type": "mysql",
        "z": "71d70956cd5f1433",
        "mydb": "f81072a5963a1ca4",
        "name": "",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "b392e9f2877db831"
            ]
        ]
    },
    {
        "id": "28f2a0dfa66421da",
        "type": "link out",
        "z": "71d70956cd5f1433",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "d649d4eda648f0e0"
        ],
        "x": 835,
        "y": 80,
        "wires": []
    },
    {
        "id": "b392e9f2877db831",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Trigger select 2",
        "func": "if (msg.payload.affectedRows == 1)\n{\n    msg.payload = true;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 560,
        "wires": [
            [
                "f752043ac4a293fb"
            ]
        ]
    },
    {
        "id": "f752043ac4a293fb",
        "type": "link out",
        "z": "71d70956cd5f1433",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "d649d4eda648f0e0"
        ],
        "x": 745,
        "y": 560,
        "wires": []
    },
    {
        "id": "d649d4eda648f0e0",
        "type": "link in",
        "z": "71d70956cd5f1433",
        "name": "link in 1",
        "links": [
            "28f2a0dfa66421da",
            "f752043ac4a293fb",
            "605ab7fd5f91ca18"
        ],
        "x": 75,
        "y": 220,
        "wires": [
            [
                "d507d401768841a8"
            ]
        ]
    },
    {
        "id": "e215b24211f91990",
        "type": "comment",
        "z": "71d70956cd5f1433",
        "name": "Insert Query",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "3ad0e1fbdfe3ae3b",
        "type": "comment",
        "z": "71d70956cd5f1433",
        "name": "Select Query",
        "info": "",
        "x": 130,
        "y": 160,
        "wires": []
    },
    {
        "id": "fbd1318f7cc9ab2c",
        "type": "comment",
        "z": "71d70956cd5f1433",
        "name": "Update Query",
        "info": "",
        "x": 130,
        "y": 320,
        "wires": []
    },
    {
        "id": "2ecdf9822e1d6c47",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Select Name accordong to ID",
        "func": "global.set('id', msg.payload);\nvar id = global.get('id');\nmsg.topic = \"Select * from `new_schema`.`new_table_info`  Where id = \"+id+\";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 420,
        "wires": [
            [
                "ba397e122e484b7b"
            ]
        ]
    },
    {
        "id": "6995a3e2bf261b2a",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "function 2",
        "func": "var id = global.get('id')\nvar age = global.get('age')\nmsg.topic = \"UPDATE `new_schema`.`new_table_info` SET `Age` = '\"+age+\"' WHERE `id` = \"+id+\";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 620,
        "wires": [
            [
                "02fec8a711693459"
            ]
        ]
    },
    {
        "id": "02fec8a711693459",
        "type": "mysql",
        "z": "71d70956cd5f1433",
        "mydb": "f81072a5963a1ca4",
        "name": "",
        "x": 410,
        "y": 620,
        "wires": [
            [
                "efcb6b1bce6e458e"
            ]
        ]
    },
    {
        "id": "efcb6b1bce6e458e",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Trigger select 2",
        "func": "if (msg.payload.affectedRows == 1)\n{\n    msg.payload = true;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 620,
        "wires": [
            [
                "605ab7fd5f91ca18"
            ]
        ]
    },
    {
        "id": "605ab7fd5f91ca18",
        "type": "link out",
        "z": "71d70956cd5f1433",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "d649d4eda648f0e0"
        ],
        "x": 735,
        "y": 620,
        "wires": []
    },
    {
        "id": "ba397e122e484b7b",
        "type": "mysql",
        "z": "71d70956cd5f1433",
        "mydb": "f81072a5963a1ca4",
        "name": "",
        "x": 490,
        "y": 420,
        "wires": [
            [
                "52405c9147da7d3d"
            ]
        ]
    },
    {
        "id": "52405c9147da7d3d",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Extract the info accorfing to the Id",
        "func": "msg1 = {};\nmsg2 = {};\nmsg3 = {};\n\n\nmsg1.payload = msg.payload[0].id;\nmsg2.payload = msg.payload[0].Name;\nmsg3.payload = msg.payload[0].age;\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 3,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 420,
        "wires": [
            [
                "0e94d394e65bf47b"
            ],
            [
                "0da85b5ec527a5f1"
            ],
            [
                "836eb3f649107b4e"
            ]
        ]
    },
    {
        "id": "a10d16e307097ee9",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Set the name Globally",
        "func": "global.set('name', msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "0da85b5ec527a5f1",
        "type": "ui_text_input",
        "z": "71d70956cd5f1433",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "group": "0851d8b33da7b635",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 990,
        "y": 420,
        "wires": [
            [
                "a10d16e307097ee9"
            ]
        ]
    },
    {
        "id": "bec177851b2a065b",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Set the name Globally",
        "func": "global.set('id', msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0e94d394e65bf47b",
        "type": "ui_text_input",
        "z": "71d70956cd5f1433",
        "name": "",
        "label": "ID",
        "tooltip": "",
        "group": "0851d8b33da7b635",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 990,
        "y": 380,
        "wires": [
            [
                "bec177851b2a065b"
            ]
        ]
    },
    {
        "id": "836eb3f649107b4e",
        "type": "ui_text_input",
        "z": "71d70956cd5f1433",
        "name": "",
        "label": "Age",
        "tooltip": "",
        "group": "0851d8b33da7b635",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 990,
        "y": 460,
        "wires": [
            [
                "693b41d2b48a33b3"
            ]
        ]
    },
    {
        "id": "693b41d2b48a33b3",
        "type": "function",
        "z": "71d70956cd5f1433",
        "name": "Set the name Globally",
        "func": "global.set('age', msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "df37d7f6d956bac8",
        "type": "debug",
        "z": "71d70956cd5f1433",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    }
]